
.devices__swiper {
    overflow: hidden;
    width: 100%;
    padding: 16px;
    padding-bottom: 50px;
    position: relative;
}

.devices__swiper-wrapper {
    display: flex;
}

.devices-slide {
    flex-shrink: 0;

    background-color: white;
    display: grid;
    width: 240px;
    height: 160px;
    padding: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-family: 'TTLakes-medium', sans-serif;
    font-weight: 500;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    line-height: 12px;
    background-color: #DDDDDD;
    margin: 0 6px;
}

.devices-slide .logo-button {
    justify-self: end;
    align-self: end;
}