

.prices__swiper {
    overflow: hidden;
    width: 100%;
    padding: 16px;
    padding-left: 8px;
    padding-bottom: 50px;
    position: relative;
}

.prices__swiper-wrapper {
    display: flex;
}

.prices-slide {
    flex-shrink: 0;

    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 260px;
    height: 200px;
    padding: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-family: 'TTLakes-medium', sans-serif;
    font-weight: 500;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    line-height: 12px;
    background-color: #DDDDDD;
    margin: 0 6px;
}

// КНОПОЧКИ
.price-button {
    font-family: 'TTLakes-Medium';
    letter-spacing: -0.15px;
    grid-column: 2;
    background-color: #FF3E79;
    border-radius: 20px;
    width: 120px;
    height: 32px;
    align-self: end;
    color: white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.price-button p{
    transform: translateX(-10px);
}

.price-button::after {
    content: "";
    background-image: url('../img/dropdown-white.svg');
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    top: 12px;
    right: 10px;
}

// ВНУТРЯНКА СЛАЙДА

.service-container>p {
    margin-bottom: 4px;
}

.service-container:first-child {
    grid-column: span 2;
}

.service-container:nth-child(2) {
    grid-column: span 2;
}

.prices p {
    font-family: 'TTLakes-Regular', sans-serif;
}

.service__name {
    color: #7E7E82;
    line-height: 16px;
    font-size: 14px;
} 

.service__text {
    line-height: 18px;
    font-size: 14px;
}


// Халява
.commercial-offer {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;  
}

.commercial-offer__text {
    font-family: 'TTLakes-Regular', sans-serif;
    line-height: 20px;
    font-size: 14px;
}

.commercial-offer__link {
    font-family: 'TTLakes-Regular', sans-serif;
    font-weight: 600;
    color: black;
    line-height: 24px;
}

.commercial-offer__link::after {
    content: "";
    background-image: url('../img/dropdown.svg');
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -1.2px;
}