@use '../../node_modules/normalize.css/normalize.css';
@use 'fonts';
@use 'page';
@use 'icons';
@use 'brands';
@use 'devices';
@use 'prices';
@use 'side-menu';


.content {
    display: block;
    opacity: 1;
}

.content.close {
    opacity: 0.2;
}

.side-menu--left {
    z-index: 2;
    display: block;
    position: fixed;
    transform: translateX(-600px);
}

.side-menu--left.open {
    transform: translateX(600px);
}