@font-face {
  font-family: "TTLakes";
    src: 
      url(/font-style-TTlakes/TTLakes-Regular.eot) format("eot"),
      url(/font-style-TTlakes/TTLakes-Regular.ttf) format("ttf"),
      url(/font-style-TTlakes/TTLakes-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
/* общие */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

.aside, body{
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "TTLakes";
  letter-spacing: 0.2px;
  font-size: 16px;
}

.aside {
  box-shadow: -5px 0 50px;
}

/* верхний блок */
.aside-header {
  display: flex;
  margin: 2px 8px;
  align-items: center;
  justify-content: space-between;
}

.aside-header__left-container {
  display: flex;
  align-items: center;
}

    /* ИКОНКИ */

.round-button {
  height: 40px;
  width: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  margin: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.logo {
  width: 97px;
  height: 51px;
  background-size: 97px 51px;
  background-position: 100% 100%;
  margin-left: 0;
}

.round-button--search {
  background-image: url(/image/search_element.svg);
  background-repeat:  no-repeat;
  background-position: center;
}

.round-button--call {
  background-image: url(/image/call_element.svg);
  background-repeat:  no-repeat;
  background-position: center;
}

.round-button--chat {
  content: "";
  background-image: url(/image/chat_element_3.svg);
  background-repeat:  no-repeat;
  background-position: center;
}

.round-button--profile {
  content: "";
  background-image: url(/image/profile_element.svg);
  background-repeat:  no-repeat;
  background-position: center;
}

.round-button--close::before {
  content: "";
  background-color:#FFFFFF;
  height: 25px;
  width: 3px;
  position: relative;
  display: block;
  left: 19px;
  top: 8px;
  transform: rotate(135deg);
  border-radius: 2px;
  transition: 0.4s;
}

.round-button--close::after {
  content: "";
  background-color: #FFFFFF;
  height: 25px;
  width: 3px;
  position: relative;
  display: block;
  top: -17px;
  left: 19px;
  transform: rotate(45deg);
  border-radius: 2px;
  transition: 0.4s;
}

.aside-main__item::before {
  content: "";
  background-color: #41F6D7;
  width: 4px;
  height: 32px;
  position: absolute;
  display: block;
  top: auto;
  border-radius: 2px;
  opacity: 0;
  transition: 0.4s;
  transform: scaleY(0.2);
}
/* Главное меню */

.aside-main {
  margin-top: 16px;
  height: auto;
  width: 100%;
  line-height: 32px;
}
.aside__top-container {
  height: 90%;
}

.aside-main__li-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
}

.aside-main__item {
  padding: 4px 0;
  transition: 0.4s;
}

.aside-main__link {
  display: block;
  color: black;
  margin-left: 24px;
  font-weight: 600;
}
 /* АНИМАЦИИ */


.aside-main__item:hover .aside-main__link,
.aside-footer__link:hover {
  opacity: 0.5;
 }

.aside-main__item:hover::before {
  opacity: 1;
  transform: scaleY(1);
}

.round-button:hover {
  transform: scale(1.2);
}

.round-button:hover.round-button--close::before {
  transform: translate(-2px, 5px) rotate(-65deg);
}

.round-button:hover.round-button--close::after {
  transform: translate(-2px, -5px) rotate(-115deg);
}

.lang-switcher__link:hover {
  transform: scale(1.1);
}

/* нижний блок */


.aside-footer {
  margin-left: 8px;
  display: flex;
}

.aside-footer .round-button {
  margin-right: 0;
}

.contacts {
  margin-left: 24px;
}

.contacts a {
  display: block;
  color: black;
}

.email {
  font-weight: 600;
}

.number {
  font-weight: bolder;
  font-size: larger;
  margin-top: 10px;
}

.lang-switcher__li-list {
  display: flex;
  margin-left: 24px;
  gap: 7px;
  margin-top: 40px;
  margin-bottom: 3%;
}


.lang-switcher__link {
  display: block;
  color: black;
  font-weight: 600;
}

.lang-switcher__link.active {
  opacity: 0.5;
}